<article class="row border my-1">
  <div class="col-9">
    <p class="transac-name">Transaction <%= transac.name %></p>
    <p class="date"><%= transac.created_at %></p>
  </div>
  <div class="col-3">
    <span class="amount-dls">$<%= transac.amount %></span>
  </div>
</article>